PORT = 3000

POSTGRES_USER = "tg-game-back-user"
POSTGRES_PASSWORD = "tg-game-back-pass"
POSTGRES_DB = "tg-game-back-db"
POSTGRES_HOST = localhost
POSTGRES_PORT = 5442


DATABASE_URL='postgresql://tg-game-back-user:tg-game-back-pass@localhost:5442/tg-game-back-db}'
